---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "zero_point_shopify",
  "short_name": "zero_point_shopify",
  "display": "standalone",
  "start_url": "/"
}
